@inherits LayoutComponentBase
@inject NavigationManager NavManager

<MudThemeProvider @bind-IsDarkMode="@_isDarkMode" Theme="_theme" />
<MudDialogProvider />
<MudSnackbarProvider />

<PageTitle>InnoviaReach</PageTitle>

<div class="page">
    <div class="sidebar">
        <div class="NavMenu">
            <NavMenu />
        </div>
        <div class="ContentInnovia">
            <main>
                <div>
                    <a href="/"></a>
                </div>
                <article class="py-4">
                    @Body
                </article>
            </main>
        </div>
    </div>
</div>

@code {
    private MudTheme _theme = new();
    private bool _isDarkMode = true;
    private bool _LoggedIn = false;
    private LoginTokenResponse user;
    [Inject]
    private ISessionStorageService _sessionStorageService { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        try
        {
            if (firstRender)
            {
                user = await _sessionStorageService.GetItemAsync<LoginTokenResponse>("user");
                if (user is null)
                {
                    NavManager.NavigateTo("/login");
                }
            }
        }
        catch (Exception ex)
        {

        }
    }
}