@page "/foros"
@using InnoviaReach___TFI___FrontEnd.Data
@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime
@inject HttpClient httpClient
@inject ISessionStorageService sessionStorage

<div class="foro-principal">
    <header class="foro-header" id="foro-header">
        <div class="foro-row">
            <div class="foro-container">
                <div class="foro-header-content">
@*                     <div class="foro-logo">
                        <a href="index.html">
                            <img src="img/hondashadow_net.svg" alt="logo" />
                        </a>
                    </div> *@
                    <div class="foro-nav-search">
                        <div class="foro-form-group">
                            <input type="text" placeholder="Search Community" />
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main class="foro-main">
        <MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6" Centered=true Class="foro-mudTabs">
            <MudTabPanel Text="Foros Generales">
                <div class="foro-container" style="display: flex; overflow-y: auto; height: 100%; width: auto;">
                    <div class="foro-row">
                        <section class="foro-left">
                            <div class="foro-inner-left">

                                @*AGREGAR ENUM PARA LA SUSCRIPCION*@
                                
                                @*@foreach (var foro in ForosGenerales)
                                {
                                    <div class="foro-box">
                                        <div class="foro-img">
                                            <img src="img/302688.jpg" alt="" />
                                        </div>
                                        <div class="foro-details">
                                            <p>Discusion de mogolicos</p>
                                            <h3>@foro.Titulo</h3>
                                            <div class="foro-sub-details">
                                                <span>jason.aalbers95.</span> <!--Aca va el usuario creador, el nombre-->
                                                <span>9 h ago.</span> <!--Aca va el diferencial de hace cuanto se creó-->
                                                <div class="foro-comment">
                                                    <i class="fa-solid fa-comment"></i>
                                                    <span>6</span> <!--Aca va la cantidad de comentarios-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }*@

                                <div class="foro-box">
                                    <div class="foro-img">
                                        <img src="img/302688.jpg" alt="" />
                                    </div>
                                    <div class="foro-details">
                                        <p>technical discussion</p>
                                        <h3>93 shadow vt1100c</h3>
                                        <div class="foro-sub-details">
                                            <span>jason.aalbers95.</span>
                                            <span>9 h ago.</span>
                                            <div class="foro-comment">
                                                <i class="fa-solid fa-comment"></i>
                                                <span>6</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @* <div class="foro-box">
                                    <div class="foro-img">
                                        <img src="img/302688.jpg" alt="" />
                                    </div>
                                    <div class="foro-details">
                                        <p>technical discussion</p>
                                        <h3>93 shadow vt1100c</h3>
                                        <div class="foro-sub-details">
                                            <span>jason.aalbers95.</span>
                                            <span>9 h ago.</span>
                                            <span>jason.aalbers95</span>
                                            <span>replied</span>
                                            <span>5 h ago</span>
                                            <div class="foro-comment">
                                                <i class="fa-solid fa-comment"></i>
                                                <span>6</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="foro-box">
                                    <div class="foro-img">
                                        <img src="img/302688.jpg" alt="" />
                                    </div>
                                    <div class="foro-details">
                                        <p>technical discussion</p>
                                        <h3>93 shadow vt1100c</h3>
                                        <div class="foro-sub-details">
                                            <span>jason.aalbers95.</span>
                                            <span>9 h ago.</span>
                                            <span>jason.aalbers95</span>
                                            <span>replied</span>
                                            <span>5 h ago</span>
                                            <div class="foro-comment">
                                                <i class="fa-solid fa-comment"></i>
                                                <span>6</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="foro-box">
                                    <div class="foro-img">
                                        <img src="img/302688.jpg" alt="" />
                                    </div>
                                    <div class="foro-details">
                                        <p>technical discussion</p>
                                        <h3>93 shadow vt1100c</h3>
                                        <div class="foro-sub-details">
                                            <span>jason.aalbers95.</span>
                                            <span>9 h ago.</span>
                                            <span>jason.aalbers95</span>
                                            <span>replied</span>
                                            <span>5 h ago</span>
                                            <div class="foro-comment">
                                                <i class="fa-solid fa-comment"></i>
                                                <span>6</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="foro-box">
                                    <div class="foro-img">
                                        <img src="img/302688.jpg" alt="" />
                                    </div>
                                    <div class="foro-details">
                                        <p>technical discussion</p>
                                        <h3>93 shadow vt1100c</h3>
                                        <div class="foro-sub-details">
                                            <span>jason.aalbers95.</span>
                                            <span>9 h ago.</span>
                                            <span>jason.aalbers95</span>
                                            <span>replied</span>
                                            <span>5 h ago</span>
                                            <div class="foro-comment">
                                                <i class="fa-solid fa-comment"></i>
                                                <span>6</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="foro-box">
                                    <div class="foro-img">
                                        <img src="img/302688.jpg" alt="" />
                                    </div>
                                    <div class="foro-details">
                                        <p>technical discussion</p>
                                        <h3>93 shadow vt1100c</h3>
                                        <div class="foro-sub-details">
                                            <span>jason.aalbers95.</span>
                                            <span>9 h ago.</span>
                                            <span>jason.aalbers95</span>
                                            <span>replied</span>
                                            <span>5 h ago</span>
                                            <div class="foro-comment">
                                                <i class="fa-solid fa-comment"></i>
                                                <span>6</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="foro-box">
                                    <div class="foro-img">
                                        <img src="img/302688.jpg" alt="" />
                                    </div>
                                    <div class="foro-details">
                                        <p>technical discussion</p>
                                        <h3>93 shadow vt1100c</h3>
                                        <div class="foro-sub-details">
                                            <span>jason.aalbers95.</span>
                                            <span>9 h ago.</span>
                                            <span>jason.aalbers95</span>
                                            <span>replied</span>
                                            <span>5 h ago</span>
                                            <div class="foro-comment">
                                                <i class="fa-solid fa-comment"></i>
                                                <span>6</span>
                                            </div>
                                        </div>
                                    </div>
                                </div> *@
                            </div>
                        </section>
                        <section class="foro-right">
                            <div class="foro-box foro-first">
                                <h3>honda shadow forums</h3>
                                <span>since 2007</span>
                                <p>
                                    Welcome to Honda Shadow Forum. Come in and discuss any Honda
                                    Shadow models: VT1100, VT250, VT750 and the VT500.
                                </p>
                                <div class="foro-stats">
                                    <div>
                                        <h4>1.6M</h4>
                                        <span>posts</span>
                                    </div>
                                    <div>
                                        <h4>79.4k</h4>
                                        <span>members</span>
                                    </div>
                                </div>
                                <div class="foro-buttons">
                                    <a href="#" class="foro-btn foro-btn-red"><i class="fa-solid fa-user-large"></i> join community</a>
                                    <a href="#" class="foro-btn foro-btn-white"><i class="fa-solid fa-store"></i> grow your business</a>
                                </div>
                            </div>
                            <div class="foro-box foro-top-forums">
                                <h3>our top forums</h3>
                                <a href="#">View All <i class="fa-solid fa-arrow-right"></i></a>
                                <div class="foro-inner-box">
                                    <h4><a href="#">general bike discussion</a></h4>
                                    <div class="foro-stats">
                                        <div class="foro-stat foro-comments">
                                            <i class="fa-solid fa-comment"></i><span> 709.4k</span>
                                        </div>
                                        <div class="foro-stat foro-views">
                                            <i class="fa-regular fa-eye"></i><span>104.4M</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="foro-inner-box">
                                    <h4><a href="#">technical discussion</a></h4>
                                    <div class="foro-stats">
                                        <div class="foro-stat foro-comments">
                                            <i class="fa-solid fa-comment"></i><span> 599.1k</span>
                                        </div>
                                        <div class="foro-stat foro-views">
                                            <i class="fa-regular fa-eye"></i><span>81.3M</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="foro-inner-box">
                                    <h4><a href="#">member introductions</a></h4>
                                    <div class="foro-stats">
                                        <div class="foro-stat foro-comments">
                                            <i class="fa-solid fa-comment"></i><span> 189.5k</span>
                                        </div>
                                        <div class="foro-stat foro-views">
                                            <i class="fa-regular fa-eye"></i><span>19.5M</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="foro-inner-box">
                                    <h4><a href="#">road stories</a></h4>
                                    <div class="foro-stats">
                                        <div class="foro-stat foro-comments">
                                            <i class="fa-solid fa-comment"></i><span> 133.5k</span>
                                        </div>
                                        <div class="foro-stat foro-views">
                                            <i class="fa-regular fa-eye"></i><span>7.7M</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="foro-inner-box">
                                    <h4><a href="#">honda shadow videos</a></h4>
                                    <div class="foro-stats">
                                        <div class="foro-stat foro-comments">
                                            <i class="fa-solid fa-comment"></i><span> 123.1k</span>
                                        </div>
                                        <div class="foro-stat foro-views">
                                            <i class="fa-regular fa-eye"></i><span>16.3M</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>

            </MudTabPanel>
            <MudTabPanel Text="Foros Recomendados">
                <h2>JAJAJAJAJ</h2>
            </MudTabPanel>
            <MudTabPanel Text="Foros Favoritos">
                <h2>HOLA</h2>
            </MudTabPanel>
            <MudTabPanel Text="Usuarios">
                <div class="UsuarioMenuBody">
                    <div class="UsuarioMenu">
                        <div class="profile">
                            <header class="profile__header">
                                <div class="profile__highlight__wrapper">
                                    <div class="profile__highlight">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-school" width="24"
                                             height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                                             stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                            <path d="M22 9l-10 -4l-10 4l10 4l10 -4v6" />
                                            <path d="M6 10.6v5.4a6 3 0 0 0 12 0v-5.4" />
                                        </svg>
                                        1760
                                    </div>
                                    Calificación
                                </div>
                                <div class="profile__avatar">
                                    <img src="assets/ToolBar/profile.jpg" loading="lazy" alt="Mentor profile">
                                </div>
                                <div class="profile__highlight__wrapper">
                                    <div class="profile__highlight">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-coin" width="24"
                                             height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                                             stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                            <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
                                            <path d="M14.8 9a2 2 0 0 0 -1.8 -1h-2a2 2 0 1 0 0 4h2a2 2 0 1 1 0 4h-2a2 2 0 0 1 -1.8 -1" />
                                            <path d="M12 7v10" />
                                        </svg>
                                        149$
                                    </div>
                                    Nivel
                                </div>
                            </header>
                            <div class="profile__name">
                                <h2>Melissa Taylor<img src="assets/Usuario Menu/verified.svg" alt="Verified Ticker"></h2>
                                <p>Frontend/Fullstack Developer</p>
                            </div>
                            <ul class="social-links">
                                <li>
                                    <a href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-github" width="24"
                                             height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                                             stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                            <path d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5" />
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-linkedin"
                                             width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                                             stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                            <path d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z" />
                                            <path d="M8 11l0 5" />
                                            <path d="M8 8l0 .01" />
                                            <path d="M12 16l0 -5" />
                                            <path d="M16 16v-3a2 2 0 0 0 -4 0" />
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-x" width="24"
                                             height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                                             stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                            <path d="M4 4l11.733 16h4.267l-11.733 -16z" />
                                            <path d="M4 20l6.768 -6.768m2.46 -2.46l6.772 -6.772" />
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-instagram"
                                             width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                                             stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                            <path d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z" />
                                            <path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
                                            <path d="M16.5 7.5l0 .01" />
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-youtube"
                                             width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                                             stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                            <path d="M2 8a4 4 0 0 1 4 -4h12a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-12a4 4 0 0 1 -4 -4v-8z" />
                                            <path d="M10 9l5 3l-5 3z" />
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-link" width="24"
                                             height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                                             stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                            <path d="M9 15l6 -6" />
                                            <path d="M11 6l.463 -.536a5 5 0 0 1 7.071 7.072l-.534 .464" />
                                            <path d="M13 18l-.397 .534a5.068 5.068 0 0 1 -7.127 0a4.972 4.972 0 0 1 0 -7.071l.524 -.463" />
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                            <main>
                                <div class="tabs-wrapper">
                                    <ul class="tabs">
                                        <li class="active">
                                            <a id="tab1">dasdad:</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="tabs-wrapper">
                                    <ul class="tabs">
                                        <li class="active">
                                            <a id="tab1">adsadad:</a>
                                        </li>
                                    </ul>
                                </div>
                            </main>
                        </div>
                    </div>
                </div>
            </MudTabPanel>
        </MudTabs>
    </main>
</div>


@code {
    public List<ForoModel> ForosGenerales = new();
    public LoginTokenResponse user;
    public bool foroAbierto;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            foroAbierto = false;
            StateHasChanged();
        }
        catch (Exception)
        {
            
            throw;
        }
        
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        try
        {
            if (firstRender)
            {
                try
                {
                    user = await sessionStorage.GetItemAsync<LoginTokenResponse>("user");
                    ForosGenerales = await httpClient.GetFromJsonAsync<List<ForoModel>>("Foro/ObtenerForosGenerales");
                }
                catch (Exception) { }

                // Esperar un breve momento para asegurarse de que el componente se haya renderizado completamente
                await Task.Delay(100);
                StateHasChanged();
            }
        }
        catch (Exception)
        {

            throw;
        }

    }

    ////private List<Data.Data.ForoClass> forosGenerales = new();
    ////private Data.Data.ForoClass selectedForo;

    ////protected override async Task OnInitializedAsync()
    ////{
    ////    // Aquí deberías cargar las listas de foros desde tu fuente de datos (API, base de datos, etc.)
    ////    forosGenerales = await ObtenerForosGenerales();
    ////}

    ////private Task<List<Data.Data.ForoClass>> ObtenerForosGenerales()
    ////{
    ////    // Lógica para obtener los foros generales desde la API o base de datos
    ////    return global::System.Threading.Tasks.global::System.<global::System.Collections.Generic.List<global::InnoviaReach___TFI___FrontEnd.Data.ForoClass>>(Tglobal::System.Collections.Generic.List<global::InnoviaReach___TFI___FrontEnd.Data.ForoClass>)hreaglobal::System.Collections.Generic.ding.global::InnoviaReach___TFI___FrontEnd.Data.Tasks.Task.FromResult<global::System.Collections.Generic.List<global::InnoviaReach___TFI___FrontEnd.Data.ForoClass>>((global::System.Collections.Generic.List<global::InnoviaReach___TFI___FrontEnd.Data.ForoClass>)new global::System.Collections.Generic.List<global::InnoviaReach___TFI___FrontEnd.Data.ForoClass>
    ////    {
    ////        new global::InnoviaReach___TFI___FrontEnd.Data.global::InnoviaReach___TFI___FrontEnd.Data.ForoClass { Id = 1, Titulo = "Foro 1", Descripcion = "Descripción del Foro 1", Creador = "Usuario1", CantidadParticipantes = 5, CantidadComentarios = 10, PuntuacionMedia = 4.5 },
    ////        new global::InnoviaReach___TFI___FrontEnd.Data.global::InnoviaReach___TFI___FrontEnd.Data.ForoClass { Id = 2, Titulo = "Foro 2", Descripcion = "Descripción del Foro 2", Creador = "Usuario2", CantidadParticipantes = 8, CantidadComentarios = 20, PuntuacionMedia = 4.8 }
    ////    });
    ////}

    ////private void CrearNuevoForo()
    ////{
    ////    // Lógica para crear un nuevo foro
    ////}
}
